<div class="collection-listing-banner-wrapper four-columns-product-wrapper">
  {% capture imagepromobanner %}
    {% if linked_url != blank %}
      <a href="{{ linked_url }}" class="relative-link">
    {% elsif featured_collection != blank %}
      <a href="{{ collections[featured_collection].url }}" class="relative-link">
    {% endif %}
    <div class="text-container">
      {% if block_title != '' %}
        <h3>{{ block_title }}</h3>
      {% endif %}
      {% if button_text != blank %}
        <span class="btn-link">
          {{ button_text }}<i class="icomoon icomoon-arrow"></i>
        </span>
      {% endif %}    
    </div>
    <img 
      src="{{ featured_image | img_url: '250x400', crop: 'center' }}"
      class="{% if featured_image_mobile != blank %}desktop-only{% endif %} four-column-image" 
      alt="{{ alt_text }}"
    >
    {% if featured_image_mobile != blank %}
      <img 
        src="{{ featured_image_mobile | img_url: '330x200', crop: 'center' }}" 
        class="mobile-only four-column-image" 
        alt="{{ alt_tex_1 }}"
      >
    {% endif %}
    {% if linked_url != blank or featured_collection != blank %}
      </a>
    {% endif %}
  {% endcapture %} 
  {% if banner_position == 'left' %}
    <div class="grid__item large--one-quarter medium--one-half on-sale grid-product-item small--one-half medium--one-half collection-promobanner-grid">
      {{ imagepromobanner }}
    </div> 
  {% else %}
    <div class="mobile-only grid__item large--one-quarter medium--one-half on-sale grid-product-item small--one-half medium--one-half collection-promobanner-grid">
      {{ imagepromobanner }}
    </div>                   
  {% endif %}
  <div class="promo-collection-slider large--three-quarters {% if banner_position == 'left' %} left-promo-banner {% else %} right-promo-banner{% endif %} collection-products">
    {% assign productarray = '' %}
    {% assign productsFound = 0 %}
    {% for product in collections[featured_collection].products %}
      {% if productsFound == products_to_show %}{% break %}{% endif %}
      {% if product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}
      {% if product.available %}
        {% render 'product-grid-item', product: product %}
        {% assign productarray = productarray | append: "," | append: product.id %}
        {% assign productsFound = productsFound | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% assign productarray = productarray | remove_first: "," %}
  </div>
  
  <div class="product-array-details" data-prodjson='{{ productarray  }}' style="display: none"></div>
  {% if banner_position == 'right' %}
    <div class="desktop-only grid__item large--one-quarter medium--one-half on-sale grid-product-item small--one-half medium--one-half collection-promobanner-grid">
      {{ imagepromobanner }}
    </div> 
  {% endif %}
</div> 