<!doctype html>
{%- assign dir_body = settings.dir_body -%}
{%- if settings.popup_ageVer and settings.popup_ageVer_coll_list != blank -%}
  {%- assign coll_list = settings.popup_ageVer_coll_list | split: ', ' -%}
  {%- if coll_list contains collection.handle -%}
    {%- assign ageVer = ' ageVerModal"' -%}
  {%- endif -%}
{%- elsif settings.popup_ageVer -%}
  {%- assign ageVer = ' ageVerModal"' -%}
{%- endif -%}
<html class="no-js{{ageVer}}" lang="{{shop.locale}}" dir="{{dir_body}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="theme-color" content="{{settings.color_primary}}">

    {%- comment %} Allow merchant to generate a custom product description to feed to SEOMetaManager's structured data {% endcomment %}
    {%- if product %}
      {%- comment %} 1. Allow a complete override using a metafield {% endcomment %}
      {%- if product.metafields.seo.description_override != blank %}
        {%- assign custom_product_description = product.metafields.seo.description_override %}
      {%- comment %} 2. Allow prioritization of the product description chunk beginning with the '[Information]' keyword in the description, either globally or per-product {% endcomment %}
      {%- elsif settings.product_description_info_first or product.tags contains 'seo-info-first' %}
        {%- assign product_description_parts = product.description | split: '[Information]' %}
        {%- assign custom_product_description = product_description_parts | last | strip %}
        {%- comment %} 3. Allow making a long or short description by optionally appending the first chunk of the description, either globally or per-product {% endcomment %}
        {%- if settings.product_description_append_remaining_description or product.tags contains 'seo-long-description' %}
          {%- unless product.tags contains 'seo-short-description' or product_description_parts.size == 1 %}{% assign custom_product_description = custom_product_description | append: ' ' | append: product_description_parts.first %}{% endunless %}
        {%- endif %}
      {%- endif %}
      {%- comment %} 4. Unless we have completely overridden the description, allow merchant to create a custom intro for the description {% endcomment %}
      {%- if product.metafields.seo.description_prefix != blank and product.seo.description_override == blank %}
        {%- assign custom_product_description = product.metafields.seo.description_prefix | append: custom_product_description %}
      {%- endif %}
    {%- endif %}
    {%- include 'SEOMetaManager-custom', custom_product_description: custom_product_description %}

    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {%-render 'meta-tags', dir_body: dir_body-%}
    {%-if dir_body == 'ltr'-%}
      {%-assign dir_css = ''-%}
    {%-else-%}
      {%-assign dir_css = '-rtl'-%}
    {%-endif-%}
    {%- assign map_rtl = 'ar,dv,ha,he,ku,fa,ur,ps,yi' | split: ',' -%}
    {%- if map_rtl contains shop.locale -%}{%-assign dir_css = '-rtl'-%}{%- endif -%}
    <link href="{{'bootstrap.min.css' | asset_url}}" rel="stylesheet" type="text/css" media="all">
    <link href="{{'style-speed.css' | asset_url}}" rel="stylesheet" type="text/css" media="all">
    {%- assign style_css = 'style' | append: dir_css | append: '.min.css' -%}
    {{- style_css | asset_url | stylesheet_tag -}}
    {%- assign theme_css = 'theme' | append: dir_css | append: '.min.css' -%}
    {{- theme_css | asset_url | stylesheet_tag -}}
    {%- if template.name == 'collection' or template.name == 'list-collections' or template == 'page.search-result-new-isp-sdk' -%}
      <link href="{{'kt_filters.min.css' | asset_url}}" rel="stylesheet" type="text/css" media="all">
    {%- endif -%}
    {%- if template.name == 'cart' or template.name == 'order' -%}
      {%- assign cart_css = 'theme.cart' | append: dir_css | append: '.min.css' -%}
      {{- cart_css | asset_url | stylesheet_tag -}}
    {%- endif -%}
    {{- settings.custom_html_head | html -}}
    {%- assign card_grid_css = 'md_prd_card_grid' | append: dir_css | append: '.min.css' -%}
    {{- card_grid_css | asset_url | stylesheet_tag -}}
    <link id="custom-css" href="{{'kiti-var.css' | asset_url}}" rel="stylesheet" type="text/css" media="all">
    {% comment %}{{ content_for_header }}{% endcomment %}
    {%-render 'tw-content-for-header', content_for_header: content_for_header -%}
    {%-render 'theme_header_js'-%}
    {%-render 'tw-styles'-%}
    {%- render 'tw-theme-tracking' -%}
    {%- render 'dataLayer-allPages' -%}

  {% render 'shogun-head' %}
</head>
  <body class="template-{{ request.page_type | default: page_title | handle }} {{ page_title | handle }}{%if settings.img_type == 'stretch'%} is-cover{%elsif settings.img_type == 'nonstretch'%} is-contain{%else%} is-default{%endif%}" grid-info="{{settings.pr_grid_talg}}" grid-name-opt="{{settings.qs_use_name_opt}}" grid-ol-first-opt="{{settings.qs_hide_only_1_opt}}" grid-flash="{{settings.label_style}}">
    {%- if request.design_mode -%}{%- section 'kt-dear-customers'-%}{%-endif-%}
    {%- section 'tw-discount-badge'-%}
    {%- render 'kt_icons_system' -%}
    <div id="bg-overlay"></div>
    <div class="content_for_page">
      {%-render 'tw-header'-%}
      {% comment %}{%-render 'header-layout'-%}{% endcomment %}
      {%-section 'header-mobile'-%}
      {%-if template.name != 'cart'-%}
        {%-case settings.type_ajax_cart-%}
        {%-when 'drawer'-%}
          <div class="lazyload lazypreload" data-include="{{routes.cart_url | append: '?view=kt_cart_drawer'}}"></div>
          {%- if settings.enable_auto_gift == true and settings.auto_gift_product != blank and all_products[settings.auto_gift_product].title != blank -%}
            <script type="application/json" data-gift-auto-add>
              {
                "price_limit": {{ all_products[settings.auto_gift_limit].selected_or_first_available_variant.price | json }},
                "id": {{ all_products[settings.auto_gift_product].selected_or_first_available_variant.id | json }}
              }
            </script>
          {%- endif -%}
        {%-when 'popup'-%}
          <div class="lazyload lazypreload" data-include="{{routes.cart_url | append: '?view=kt_cart_popup'}}"></div>
        {%-endcase-%}
      {%-endif-%}
      {%- render 'tw-breadcrumb' -%}
      <main class="main-content{%if settings.use_wrap_container %} wrap-container{%endif%}{%unless template.name == 'index'%} page-container{%endunless%}" id="PageContainer">
        {%- comment -%}
        {%- liquid
          unless template contains 'index'
            section 'kt_banner_all_page'
            section 'kt_top_banner'
          endunless
        -%}
        {%- endcomment -%}
        {{ content_for_layout }}
      </main>
      {%- liquid
        if settings.use_wrap_container
          echo '<div class="wrap-container">'
        endif
        section 'tw-footer'
        if settings.use_wrap_container
          echo '</div>'
        endif
        if settings.use_mobile_bottom_bar
          section 'kt_bottom_bar'
        endif
      -%}
    </div>
    <div class="content_for_extension">
      {%- liquid
        section 'custom_color'
        if request.design_mode and settings.popup_cookies
          section 'cookies_popup'
        endif
        if ageVer
          section 'kt_ageVerification'
        endif
        if settings.enable_suggest_products
          render 'kt_suggest'
        endif
        if shop.customer_accounts_enabled and settings.modal_login
          render 'account-popup'
        endif
        render 'footer-extension'
      -%}
      <div id="toast"></div>
    </div>
    <script src="{{ 'lazysizes.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"{% unless request.design_mode %} defer="defer"{%-endunless-%}></script>
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme_footer_js.js' | asset_url }}" defer="defer"></script>
    {%- if settings.show_multiple_currencies -%}
      {%- case settings.currency_options -%}
        {%- when 'customize' -%}
          <script src="//cdn.shopify.com/s/javascripts/currencies.js" defer="defer"></script>
          <script src="{{ 'jquery.currencies.js' | asset_url }}" defer="defer"></script>
        {%- else -%}
          {%- if settings.use_auto_currencies and cart.currency.iso_code == shop.currency and cart.attributes.cry == null -%}
            <script src="{{ 'jquery.currencies-sp.min.js' | asset_url }}" defer="defer"></script>
          {%- endif -%}
      {%- endcase -%}
    {%- endif -%}
    {%- if settings.ajax_cart -%}
      <script src="{{ 'theme.ajax-cart.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if settings.shipping_calculator -%}
      <script src="{{ 'theme.get-shipping.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if template.name == 'article' and settings.article_layout == '02' -%}
      <script src="{{ 'jquery.sticky-kit.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}" defer="defer"></script>
    {%- if settings.use_flts -%}
      {%- if template.name == 'collection' or template.name == 'list-collections' or template.suffix contains 'collection' -%}
        {%- if settings.multi_flts_or -%}
          <script src="{{ 'jquery-ui.slider.min.js' | asset_url }}" defer="defer"></script>
          <script src="{{ 'ktjs_multi_filters.js' | asset_url }}" defer="defer"></script>
        {%- else -%}
          <script src="{{ 'ktjs_filters.min.js' | asset_url }}" defer="defer"></script>
        {%- endif -%}
      {%- endif -%}
      {%- if template.name == 'list-collections' -%}
        <script src="{{ 'swiper.min.js' | asset_url }}" defer="defer"></script>
      {%- endif -%}
    {%- endif -%}
    {%- if collection.metafields.bestseller -%}
      {%- assign display = collection.metafields.bestseller.display | downcase -%}
      {%- if display == "true" -%}
        <script src="{{ 'swiper.min.js' | asset_url }}" defer="defer"></script>
      {%- endif -%}
    {%- endif -%}
    {%- if template.name == 'product' -%}
      <script src="{{ 'ktjs_product_sg.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if template.directory == 'customers' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'custom.min.js' | asset_url }}" defer="defer"></script>
    {%- if template.name == 'cart' and settings.ajax_cart_page -%}
      <script src="{{ 'theme.ajax-cart-page.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%-if template.name == 'index' and settings.newsletter_popup -%}
      {%-case settings.newsletter_layout-%}
        {%-when '1'-%}
          {%-section 'newsletter-popup'-%}
        {%-when '2'-%}
          {%-section 'newsletter-popup-2'-%}
      {%-endcase-%}
      <script src="{{'theme-cp-newletter.min.js' | asset_url}}" defer="defer"></script>
    {%-endif-%}
    {%- if request.design_mode -%}
      {%-render 't4-toolkit'-%}
      {%- if shop.metafields.t4pcc.molla != 'true' -%}
        {%- render 't4-pcc', theme: 'molla' -%}
      {%- endif -%}
    {%- endif -%}
    {% comment %}{%- render 'googleRich' -%}{% endcomment %}
    {%-if template.name != 'blog' and template.name != 'article'-%}
      {%- include 'swymSnippet'-%}
    {%-endif-%}
    {% comment %}{% render 'swym-custom'%}{% endcomment %}
    {% comment %}{% render 'swym-custom-cartBtn'%}{% endcomment %}
    {% comment %}<script type="text/javascript" src="{{ 'swym-customizations.js' | asset_url }}" defer></script>{% endcomment %}
    {%-render 'tw-scripts'-%}
    {%- render 'tw-google-review' -%}
</body>
</html>